.input-container input {
  padding: 7px;
  width: 95%;
  margin: 10px;
}

form {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.315);
}

.submit-button {
  margin: 10px;
}
